<div id="carouselExampleCaptions" class="carousel carousel-dark slide " data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>

    </div>
    <div class="carousel-inner mt-3 rounded-5">
      <div class="carousel-item active">
        <img [src]="sobre?.urlFotos[0]" class="img-fluid" alt="...">


      </div>
      <div class="carousel-item">
        <img [src]="sobre?.urlFotos[1]" class="img-fluid" alt="...">

      </div>
      <div class="carousel-item">
        <img [src]="sobre?.urlFotos[2]" class="img-fluid" alt="...">


        <div class="carousel-caption d-none d-md-block">
          <h1>Amigos Pelo Bem</h1>
          <p>{{sobre?.descricao}}</p>
          <button type="button" class="btn btn-primary btn-rosa" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo"  (click)="editarCarrossel()">Editar</button>

        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="p-3 mt-5 bg-body rounded-5 justify-content-center">
        <h1 class="text-center">Titulo</h1>
        <p class="">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, velit magni reiciendis aspernatur earum illum totam suscipit? In itaque saepe dignissimos libero sed modi! Autem quam nisi officiis illum pariatur!
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus eius quia sint ullam in, facere similique commodi at dolor mollitia, porro cumque natus eos unde iusto? Et officia harum in?
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae amet nam quisquam nihil debitis commodi beatae qui repudiandae quod? Nihil, maiores qui. Explicabo tempora, veritatis ad fuga facilis quam iste?
        </p>
  </div>
