<header>
  <nav class="d-flex justify-content-between align-items-center">
    <section class="logo">
      <img src="/assets/img/logo-light.png" alt="logo">
    </section>

    <section class="hamburger d-flex align-items-center flex-wrap d-sm-none mr-5 mb-4 mt-4">
      <input type="checkbox" class="position-absolute">
      <div class="menu-mobile">
        <div class="item-menu rounded">Home</div>
        <div class="item-menu rounded">Doar</div>
        <div class="item-menu rounded">Coleta</div>
        <div class="item-menu rounded">Sobre nós</div>
        <div class="item-menu rounded">Enquete</div>
      </div>
      <span class="linha linha-1 bg-secondary mb-2"></span>
      <span class="linha linha-2 bg-secondary mb-2"></span>
      <span class="linha linha-3 bg-secondary"></span>
    </section>

    <section class="menu d-flex justify-content-between align-items-center d-none d-sm-flex">
      <div class="item-menu rounded">Home</div>
      <div class="item-menu rounded">Doar</div>
      <div class="item-menu rounded">Coleta</div>
      <div class="item-menu rounded">Sobre nós</div>
      <div class="item-menu rounded">Enquete</div>
    </section>
  </nav>
</header>
