@import "src/styles";

.footer{
    background-color: $main-color !important;
}
.footer div{
    margin-left: 20px;
}
.red{
    color: rgba( 227, 94, 107);
}
.pfooter{
  margin-bottom: 0px !important;
}
